<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new blog</title>
</head>
<body>
<h1>Edit blog</h1>
<p>
    <a href="/blog">blog list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-blog}" th:object="${blogDetail}" method="post">
    <input type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Blog's name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Writer:</td>
            <td><input type="text" th:field="*{writer}"/></td>
        </tr>
        <tr>
            <td>Day write:</td>
            <td><input type="text" th:field="*{date}"/></td>
        </tr>
        <tr>
            <td>Your story:</td>
            <td><input type="text" th:field="*{content}"/></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="p : ${categories}" th:value="${p.idCategory}"
                            th:text="${p.nameCategory}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update blog"></td>
        </tr>
    </table>
</form>
</body>
</html>