<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/phone}" th:object="${phoneNumber}"
      method="POST">
    <table>
        <tr>
            <td>PhoneNumber</td>
            <td><input type="text" th:field="*{number}"/></td>
            <td th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Name Error</td>
        </tr>
    </table>
    <button type="submit">submit</button>
</form>
</body>
</html>