<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/music/layout :: head"></head>
<body>
<span th:if="${message}"><span th:text="${message}"></span></span>
<h3>Update song</h3>
<p>
    <a th:href="@{/music}">
        Back to song list
    </a>
</p>
<div id="form">
    <form th:action="@{/music/updated}" th:object="${song}"
          method="POST" novalidate="novalidate">
        <div>
            <label>ID</label>
            <input type="text" th:field="*{id}" readonly/>
        </div>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Artist</label>
            <input type="text" th:field="*{artist}"/>
        </div>
        <div>
            <label>Types of song</label>
            <input type="text" th:field="*{type}"/>
        </div>
        <div>
            <label>Path</label>
            <input type="text" th:field="*{path}"/>
        </div>
        <input type="submit" value="Update"/>
    </form>
</div>
<footer th:replace="/music/layout :: footer"></footer>
</body>
</html>
