table {
    border: 3px solid black;
}
td, th {
    text-align: center;
    vertical-align: center;
}
td {
    width: 50px;
    height: 50px;
}
input {
    width: 75%;
    height: 75%;
    font-weight: bold;
    font-size: 16px;
}
.screen {
    height: 30px;
    width: 95%;
    text-align: right;
    color: #0000ff;
    font-size: 16px;
}
