body {
    padding: 25px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
h1 {
    text-align: center;
    color: blue;
}
tr, td, th {
    padding: 10px;
    border: 1px solid black;
}
.header1 {
    background-color: yellow;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.header2 {
    background-color: orange;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.info {
    border: 0px;
    padding: 0px;
}
.infoleft {
    text-align: left;
    color: blue;
    border: 0px;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.inforight {
    text-align: right;
    color: blue;
    border: 0px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.week {
    text-align: center;
}