<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{template/template::header('List student')}">
</head>
<body>
    <div th:replace="~{template/template::pageloader}"></div>
    <nav th:replace="~{template/template::navbar}"></nav>
    <section th:replace="~{student/layout::sidebar}"></section>

    <section class="content">
        <div class="container-fluid">
            <!-- Vertical Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                                Student list
                            </h2>
                        </div>
                        <p>Số lần truy cập trang của bạn là: <span th:text="${count}"></span></p>
                        <a th:href="@{/student/create}">
                            <button type="button" class="btn btn-primary">Add new student</button>
                        </a>
                        <div class="panel panel-default">
                            <div class="panel-heading">Search student</div>
                            <div class="panel-body">
                                <form th:action="@{/student/search}">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" th:value="${name}" class="form-control" placeholder="Name" id="name" name="name" style="width: 30%">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input type="text" th:value="${email}" class="form-control" placeholder="Email" id="email" name="email" style="width: 30%">
                                    </div>
                                    <div class="form-group">
                                        <label for="searchAll">Search All</label>
                                        <input type="text" th:value="${searchAll}" class="form-control" placeholder="Search All" id="searchAll" name="searchAll" style="width: 30%">
                                    </div>
                                    <button type="submit" class="btn btn-default">Search</button>
                                </form>
                            </div>
                        </div>
                        <form th:action="@{/student/deleteAll}">
                        <div class="body table-responsive">
                            <table class="table table-striped" id="dataTable-listStudent">
                                <thead>
                                <tr>
                                    <th><input type="checkbox"/></th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Class name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Birthdate</th>
                                    <th>Sex</th>
                                    <th>View</th>
                                    <th>Update</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody th:each="st, iterStat: ${students}">
                                    <tr th:object="${st}">
                                        <td><input type="checkbox" th:value="*{id}" name="ids"></td>
                                        <td th:text="*{id}"></td>
                                        <td th:text="*{name}"></td>
                                        <td th:text="*{className.className}"></td>
                                        <td th:text="*{email}"></td>
                                        <td th:text="*{phoneNumber}"></td>
                                        <!--<td th:text="*{birthdate}"></td>-->
                                        <td th:text="*{#dates.format(birthdate, 'yyyy-MM-dd')}"></td>
                                        <td th:text="*{sex ? 'Nam' : 'Nữ'}"></td>
                                        <td>
                                            <a th:href="@{/student/view(id=*{id})}">View</a>
                                        </td>
                                        <td>
                                            <a th:href="@{/student/update/{id}(id=*{id})}">Update</a>
                                        </td>
                                        <td>
                                            <a th:href="@{/student/delete/{id}(id=*{id})}">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                            <button type="submit" class="btn btn-default">Delete All</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <div th:replace="~{template/template::script}"></div>
    <div th:replace="~{template/template::footer}"></div>
</body>
</html>