<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>List of songs</h3>
<p>
    <a th:href="@{/songs/create}">
        Add new song
    </a>
</p>
<table id = "songs">
    <thead>
    <tr>
        <th>Name</th>
        <th>Artist</th>
        <th>Types of song</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song : ${songs}">
        <td th:text="${song.name}"></td>
        <td th:text="${song.artist}"></td>
        <td th:text="${song.type}"></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>
